# Funded Zeko Sepolia deployment account. Keep server-side only.
ZEKO_DEPLOYER_PRIVATE_KEY=
# Self HSM/KMS public key. This is immutable once deployed.
SELFPAY_ISSUER_PUBLIC_KEY=
# https://sepolia.zeko.io/graphql is the supported default.
ZEKO_GRAPHQL_URL=https://sepolia.zeko.io/graphql
ZEKO_ARCHIVE_URL=https://sepolia.zeko.io/graphql
ZEKO_NETWORK_ID=testnet
ZEKO_TX_FEE=200000
